<div class='form-group'>
  <%= form.label :name %>
  <%= form.text_field :name, class:'form-control', placeholder: 'John Smith' %>
  <small class="form-text text-muted">*Require</small>
</div>

<div class='form-group'>
  <%= form.label :email %>
  <%= form.text_field :email, class:'form-control', placeholder: 'E-mail' %>
  <small class="form-text text-muted">*Require</small>
</div>

<div class='form-group'>
  <%= form.label :address %>
  <%= form.text_field :address, class:'form-control', placeholder: 'Address' %>
  <small class="form-text text-muted">*Require</small>
</div>

<div class='form-group'>
  <%= form.label :phone %>
  <%= form.text_field :phone, class:'form-control', placeholder: 'Phone Number' %>
  <small class="form-text text-muted">*Require</small>
</div>

<div class='form-group'>
  <%= form.label :password %>
  <%= form.password_field :password, class:'form-control', placeholder: 'Password' %>
  <small class="form-text text-muted">*Require</small>
</div>
