<%= paginate @appointments, remote: true %>
<div class='row justify-content-around'>
  <% @appointments.all.each do |app| %>
      <div class="card m-2" style="width: 22rem;">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= app.pet.name %></h5>
          <p class="card-text"><%= app.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Owner Name: </strong><%= app.user.name %></li>
          <li class="list-group-item"><strong>Pet Type: </strong><%= app.pet.pet_type %></li>
          <li class="list-group-item"><strong>Pet Breed: </strong><%= app.pet.breed %></li>
          <li class="list-group-item"><strong>Appointment Date: </strong><%= app.appointment_date %> <%= app.time.strftime("%H:%M") %></li>
          <li class="list-group-item"><strong>Appointment Location: </strong><%= app.location %></li>
          <li class="list-group-item"><strong>Appointment Status: </strong><%= app.status %></li>
        </ul>
      </div>
  <% end %>
</div>
<%= paginate @appointments, remote: true %>