<div class='form-group'>
  <div class='d-flex'>
    <%= form.label :pet_id, 'Pet' %>
    <small class='mx-2 form-text text-muted'>*Required</small>
  </div>
  <%= form.collection_select :pet_id, @user.pets.all, :id, :name,{include_blank: true}, {class: 'form-control'} %>
</div>

<div class='form-group'>
  <div class='d-flex'>
    <%= form.label :description %>
    <small class='mx-2 form-text text-muted'>*Required</small>
  </div>
  <%= form.text_area :description, class:'form-control', rows: 5 %>
</div>

<div class='form-group'>
  <div class='d-flex'>
    <%= form.label :appointment_date, 'Appointment Date' %>
    <small class='mx-2 form-text text-muted'>*Required</small>
  </div>
  <div class='d-flex'>
    <%= form.date_select :appointment_date, { order: [:day, :month, :year] }, { class: "form-control" } %>
  </div>
</div>

<div class='form-group'>
  <div class='d-flex'>
    <%= form.label :time, 'Time' %>
    <small class='mx-2 form-text text-muted'>*Required</small>
  </div>
  <div class='d-flex'>
    <%= form.time_select :time, { ampm: false, minute_step: 30, time_separator: '' }, { class: "form-control" } %>
  </div>
</div>

<div class='form-group'>
  <div class='d-flex'>
      <%= form.label :location %>
      <small class='mx-2 form-text text-muted'>*Required</small>
    </div>
  <%= form.text_field :location, class:'form-control' %>
</div>