<h1>Sup Doc</h1>
<% Appointment.all.each do |app| %>
  <h3>Client: <%= app.user.name %></h3>
  <h3>Pet: <%= app.pet.name %></h3>
  <h3>Type: <%= app.pet.pet_type %></h3>
  <h3>Breed: <%= app.pet.breed %></h3>
  <h3>Date: <%= app.appointment_date %></h3>
  <h3>Case Description: <%= app.description %></h3>
  <h3>Location: <%= app.location %></h3>
  <h3 id="status-<%= app.id %>">Status: <%= app.status %></h3>
  <div class='d-flex' id='button-container'>
    <button class='btn btn-outline-primary mr-2' value="<%= app.id %>" data-enums=1>Accept</button>
    <button class='btn btn-outline-danger ml-2' value="<%= app.id %>" data-enums=2>Decline</button>
  </div>
  <hr>
<% end %>

<script>
  // $(document).ready(function(){
    $('#button-container button').click(function(e){
      e.preventDefault();
      let updateStatus = {
        'id': $(this).attr('value'),
        'status': $(this).attr('data-enums')
      }
      $.ajax({
        method: "POST",
        url: `/appointments/${updateStatus['id']}/update_status`,
        data: updateStatus,
        dataType: 'json',
        success: function(data) {
          console.log(data['id']);
          $(`#status-${data['id']}`).html(`Status: ${data['status']}`);
        }
      });
    });
  // });
</script>